.button-container{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
button{
    background-color: rgb(0, 162, 255);
    color: white;
}
}